@using Microsoft.AspNet.Identity
@using WebLife.Models
@model WebLife.Models.AdminViewModel

@{
    ViewBag.Title = "ManageUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManageUsers</h2>

@using (Html.BeginForm())
{
    <div class="col-md-12">
        <table class="table table-striped">
            

            @foreach (ApplicationUser u in Model.users)
            {
                if (u.Id != User.Identity.GetUserId())
                {
                    <tr>
                        <td>@u.UserName </td>
                        <td>@u.Email</td>
                        <td>@(u.IsConfirmed ? "Confirmed" : "Not confirmed")</td>
                        <td><a class="glyphicon glyphicon-remove" href="@Url.Action("Delete", new {@u.Id})"></a></td>
                        @if (u.Role == 2)
                        {
                            <td><a class="glyphicon glyphicon-ok" href="@Url.Action("GivePower", new {@u.Id})">Admin</a></td>
                        }
                    </tr>
                }

            }
        </table>
    </div>
}

